<html>
    <head>
        <title>Registration Page</title>
    </head>
    <body>
        <header>
            <div class="main"></div>
            <div class="title">
                <h2>Registration Page</h2>
            </div>
            <div class="Login">
                <h2>Sign Up</h2>
                <form>
                    <p>Enter First Name<input type="text"></p>
                    <p>Enter Last Name<input type="text"></p>
                    <p>Enter UserName<input type="text"></p>
                    <p>Enter Password<input type="password"></p>
                    <p></p>
                    <div class="button">
                    <a href="/" class="btn">Sign In</a>
                    </div>
                </form>
            </div>
        </header>
    </body>
</html>